
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @*<link href="~/modules/bootstrap/dist/css/style.css" rel="stylesheet" />*@
    <title>ShopApp</title>
</head>

<partial name="_navbar" />
<body>
    <div class="container ">
       
        <br />
        <br />
        <br />
        @if (TempData["message"]!=null)
        {
            <partial name="_resultmessage" model="@(TempData.Get<ResultMessage>("message"))"/>
        }
        

        @RenderBody()

    </div>

    <script src="~/modules/jquery/dist/jquery.min.js"></script>
    <script src="~/modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/27ecb554f9.js" crossorigin="anonymous"></script>

    @RenderSection("Script",false)
</body>
</html>
