@model ProductListViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Product</h1>
<hr />
@if (Model.Products.Count() > 0)
{

    <table class="table table-bordered">
        <thead>
            <tr>
                <td style="width:30px">Id</td>
                <td>Image</td>
                <td>Name</td>
                <td>Price</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><img src="~/img/@item.ImageUrl" width="80" /></td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>
                        <a href="/admin/products/@item.Id" class="btn btn-primary btn-sm mr-2"> Edit </a>
                        <form action="/admin/deleteproduct" method="post" style="display:inline;">
                            <input type="hidden" name="productId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm ">Delete</button>
                        </form>
                       
                    </td>
                </tr>
            }

        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning">
        <h4>No Products </h4>
    </div>
}